.mainpage
{
    display: grid;
    place-items: center;
}
.Title{
    background-color:transparent;
    text-align: center;
    align-content: center;
    padding: 50px;
}

#pageTitle{
    color: black;
}

.divRobots
{
    padding-left: 50px;
    padding-right: 50px;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(17, 92, 88);
}

.cardsRobots:hover
{
    transition: all .4s ease-in-out;
    transform: scale(1.05);
}

.cardsRobots{
    background-color: aquamarine;
    flex: 10%;
    margin: 20px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    box-shadow: grey 2px;
}

.cardImage{
    width: 85%;  
}

.searchBox
{
    height: 40px;
    width: 200px;
    margin: 10px;
}

.searchBox:focus
{
    border: 1px solid blue;
}
